.kasc .table th{
    font-size: 16px;
    font-weight: 500;
    color: #010000;
}

.kasc .table td{
    font-size: 16px;
    font-weight: 500;
    color: #010000;
}
.kasc .text-red {
    color: #fe0000;
}
.kasc .text-blue {
    color: #1862a3;
}
.kasc .table_cell {
    text-align: center;
    display: table-cell;
    min-width: 50px;
    padding: 8px;
    vertical-align: middle;
}
.kasc .table table td:nth-child(odd), 
.kasc .table table tr:nth-child(odd), 
.kasc .table table_cell:nth-child(odd), 
.kasc .table table_row:nth-child(odd), 
.kasc .table td:nth-child(odd), 
.kasc .table tr:nth-child(odd), 
.kasc .table_cell:nth-child(odd), 
.kasc .table_row:nth-child(odd) {
    background-color: hsla(0,0%,100%,.45);
}

.kasc-home-wrapper .table_cell .table-header-image{
    display: block;
    max-height: 80px;
    background-color: #1862a3;
}

.kasc-wrapper .table_cell .table-header-image{
    display: block;
    max-height: 80px;
    background-color: #008136;
}

.kasc .table_cell .table-header-image img{
    max-height: 70px;
    padding: 5px;
    max-width:100%;
}

.kasc .table_cell .table-header-label{    
    display: block;
    padding: 5px;
}

.kasc-home-wrapper .table_cell .table-header-number{
    display: block;
    text-align: center;
    background-color: #1862a3;
    color: #ECDCC9;
}

.kasc-wrapper .table_cell .table-header-number{
    display: block;
    text-align: center;
    background-color: #008136;
    color: #ECDCC9;
}

.kasc-wrapper h2.all-steel-table{
    text-align: center;
}

.kasc-home-wrapper .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.kasc-wrapper .all-steel-controls{
    float: right;
    color: #fff;
    padding: 6px;
    font-size: 18px !important;
    cursor: pointer;
}

.kasc-wrapper #open-all-steel{
    display:none;
}

.kasc-wrapper .all-steel-table-header-cat{
    background-color: #008136;
    color: #fff;
}

.kasc-home-wrapper .image-div-table-classification img{
    object-fit: cover;
    width: 100%;
    height: 402px;
}

.kasc-home-wrapper.full-screen-promo-module{
    width: 100vw;
    margin: 0;
    margin-left: calc(50% - 50vw);
}

.kasc-home-wrapper .grey-full-promo{
    background: #1862a3;
}

.kasc .text-yellow {
    color: #ECDCC9;
}

.kasc-home-wrapper .padding-bot-60{
    padding-bottom: 60px;
}

.kasc-home-wrapper .color-white{
    color: #fff;
}

.kasc-home-wrapper .widget-title p.color-white.widget-title-separator:after{
    background-color: #ffffff;
}