<div class="widget cm_module full-screen-promo-module kasc kasc-home-wrapper">
    <div class="cm_block_wrapper grey-full-promo">
        <div class="cm_block 2 padding-bot-60">
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget-title">
                            <p class="main-title"><span></span></p>
                            <h3 class="header-h3 color-white">Επεξήγηση Κωδικών Ελαστικών Βαρέων Οχημάτων</h3><p></p>
                            <p class="widget-title-separator color-white"><i class="icon-line-cross"></i></p>
                        </div>
                    </div>    
                </div>

                <div class="row">    
                    <div class="col-md-4 nopadding image-div-table-classification">
                        <img src="image/tyre_classification/all-steel-classification.jpg">
                    </div>
                    <div class="col-md-8 nopadding">
                        <div class="table-wrap js-table-expander">                            
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" class="table_cell"></th>
                                        {% for header in columns_header %}
                                            <th scope="col" class="table_cell">
                                                <span class="table-header-image">
                                                    <img src="{{ attribute(images, (loop.index)-1) }}">
                                                </span>
                                                <span class="table-header-label">
                                                    {{ header.title }}
                                                </span>
                                                <span class="table-header-number">
                                                    {{ header.subtitle }}
                                                </span>
                                            </th>                                            
                                        {% endfor %}
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in elements %}
                                        <tr>
                                        {% for key, column in row %}
                                            {% if key == 0 %}
                                            <td class="table_cell">
                                                <span class="text-red">{{ column.first_letter }}</span>{{ column.rest_of_letters }}
                                            </td>                                        
                                            {% else %}
                                                <td class="table_cell">
                                                {% for dimension in column %}                                                
                                                    {{attribute(dimension, 0)}} 
                                                    <span class="text-red">{{attribute(dimension, 1)}}</span> 
                                                    <span class="text-yellow">{{attribute(dimension, 2)}}</span> 
                                                    {{attribute(dimension, 3)}}<br>                                             
                                                {% endfor %}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}                                 
                                    <tr>
                                        <th scope="col" class="table_cell"></th>
                                        {% for footer in columns_footer %}
                                        <th scope="col" class="table_cell">
                                            <span class="table-header-number">{{footer}}</span>
                                        </th>
                                        {% endfor %}                                     
                                    </tr>            
                                </tbody>
                            </table>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>