<div class="kasc kasc-wrapper">
    <h2 class="all-steel-table all-steel-table-header-cat">Επεξήγηση Κωδικών Ελαστικών Βαρέων Οχημάτων 
        <i class="fa fa-minus-square-o all-steel-controls" id="close-all-steel" aria-hidden="true"></i>
        <i class="fa fa-plus-square-o all-steel-controls" id="open-all-steel" aria-hidden="true"></i>
    </h2>
    <div class="table-wrap js-table-expander all-steel-table-cat">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="table_cell"></th>
                    {% for header in columns_header %}
                        <th scope="col" class="table_cell">
                            <span class="table-header-image">
                                <img src="{{ attribute(images, (loop.index)-1) }}">
                            </span>
                            <span class="table-header-label">
                                {{ header.title }}
                            </span>
                            <span class="table-header-number">
                                {{ header.subtitle }}
                            </span>
                        </th>                                            
                    {% endfor %}
                    
                </tr>
            </thead>
            <tbody>
                {% for row in elements %}
                    <tr>
                    {% for key, column in row %}
                        {% if key == 0 %}
                        <td class="table_cell">
                            <span class="text-red">{{ column.first_letter }}</span>{{ column.rest_of_letters }}
                        </td>                                        
                        {% else %}
                            <td class="table_cell">
                            {% for dimension in column %}                                                
                                {{attribute(dimension, 0)}} 
                                <span class="text-red">{{attribute(dimension, 1)}}</span> 
                                <span class="text-yellow">{{attribute(dimension, 2)}}</span> 
                                {{attribute(dimension, 3)}}<br>                                             
                            {% endfor %}
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}                                 
                <tr>
                    <th scope="col" class="table_cell"></th>
                    {% for footer in columns_footer %}
                    <th scope="col" class="table_cell">
                        <span class="table-header-number">{{footer}}</span>
                    </th>
                    {% endfor %}                                     
                </tr>            
            </tbody>
        </table>      
    </div>
</div>