{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
            <button type="submit" form="form-multi_mod" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            <a href="{{  cancel }}" data-toggle="tooltip" title="{{  button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
        <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
            <?php foreach (breadcrumbs as breadcrumb) { ?>
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            <?php } ?>
        </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        </div>
        <div class="panel-body">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-multi_mod" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                    <div class="col-sm-10">
                    <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                    {% if error_name %}
                    <div class="text-danger">{{ error_name }}</div>
                    {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                    <div class="col-sm-10">
                    <select id="m_type" name="m_type" class="form-control">
                        {% for key, module_type in module_types %}
                        <option value="{{key}}" {% if key == m_type %} selected {% endif %}>{{module_type}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-10">
                    <select name="status" id="input-status" class="form-control">
                        {% if status %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                        {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h2>Header - Columns</h2>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        {% for key,column in classification.columns %}
                        <label class="col-sm-2 control-label" for="input-name">Column {{ key+1 }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="classification[columns][{{ key }}]" value="{{attribute(classification.columns, key)}}" class="form-control" />
                        </div>   
                        <label class="col-sm-2 control-label" for="input-name">Image {{ key+1 }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="classification[images][{{ key }}]" value="{{attribute(classification.images, key)}}" class="form-control" />
                        </div>                                                    
                        {% endfor %} 
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h2>Header - Rows</h2>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        {% for key,row in classification.rows %}
                        <label class="col-sm-2 control-label" for="input-name">Row {{ key+1 }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="classification[rows][{{ key }}]" value="{{attribute(classification.rows, key)}}" class="form-control" />
                        </div>                           
                        {% endfor %}                     
                    </div>
                </div>   

                {% if show_values_table %}
                    {% for key_col,column in classification.columns %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h2>{{attribute(classification.columns, key_col)}}</h2>
                                <hr>
                            </div>
                            <div class="col-sm-12">
                                {% for key_row,row in classification.rows %}
                                <label class="col-sm-2 control-label" for="input-name">{{attribute(classification.rows, key_row)}}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="classification[elements][{{ key_col }}][{{ key_row }}]" value="{{attribute(attribute(classification.elements, key_col), key_row)}}" class="form-control" />
                                </div>                                               
                                {% endfor %}     

                            </div>
                        </div> 
                    {% endfor %}
                {% endif %}                                     
            </form>
        </div>
        </div>
    </div>
</div>
{{ footer }}